[user]
  name   = Rasul Kireev
  email  = me@rasulkireev.com
[github]
  user   = rasulkireev
[alias]
	cm = !git add -A && git commit -m
  gp = !git push
  gw = !git add -A && git commit -m "wip" && git push
[core]
	editor = vim
[pull]
	rebase = false
[push]
	autoSetupRemote = true
