<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api_key</key>
	<string>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</string>
	<key>save_to_file</key>
	<true/>
	<key>save_to_file_dir</key>
	<string>~/rk/code/dotfiles/alfred</string>
</dict>
</plist>
